body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.links
{
	text-align: center;
}

.links p
{
	margin-bottom: 30px;
}


/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

.navbar
{
	min-height: 57px;
}

.bg-links
{
	background-color: #91a33b !important;
}

.myblock{
	outline: 1px solid orange;
	margin: auto;
}

.links{
    margin: 0;
    padding: 8;
}

.mylink {
	display: block;
	margin-bottom: -8px;
    padding: 0px;
}

.list-group-item{
	padding-top: 1px;
	padding-bottom: 1px;

}

.list-group-item:hover{
	background-color: #91a33b;
	color: white;
}

